<ul id="pied">
<li><a href="http://www.mozillazine-fr.org/" hreflang="fr">MozillaZine-fr</a></li>
<li>- <a href="http://linux.tlk.fr/" hreflang="en">Open Source Games</a></li>
<li>- <a href="http://www.de-morgan-de-toi.com/">Dogues De Bordeaux</a></li>
</ul>
<p id="firefox"><a href="http://www.mozilla-europe.org/fr/products/firefox/" hreflang="fr"><img src="/gfx/firefox_pixel.png" alt="Get Firefox Logo" title="Red&eacute;couvez le Web avec Firefox"/></a></p>
</body>
</html>
<!-- [% datetime %] -->
